<div class="text-center">
  <button (click)="view = CalendarView.Month">Mes</button>
  <button (click)="view = CalendarView.Week">Semana</button>
  <button (click)="view = CalendarView.Day">Día</button>
</div>

<br>

<mwl-calendar-month-view *ngIf="view === CalendarView.Month"
                         [viewDate]="viewDate"
                         [events]="events">
</mwl-calendar-month-view>

<mwl-calendar-week-view *ngIf="view === CalendarView.Week"            
                        (hourSegmentClicked)="onHourClicked($event.date)"
                        [viewDate]="viewDate"
                        [events]="events">
</mwl-calendar-week-view>

<mwl-calendar-day-view *ngIf="view === CalendarView.Day"
                       [viewDate]="viewDate"
                       [events]="events"
                       (hourSegmentClicked)="onHourClicked($event.date)">
</mwl-calendar-day-view>
