.main {
  background-color: #fefefe;
}

.table th, .table td {
  white-space: nowrap;
}

.title-section {
  letter-spacing: 0.5px;
}

@media (max-width: 576px) {
  .title-section {
    font-size: 1rem;
  }

  .btn.btn-sm {
    padding: 0.25rem 0.4rem;
  }

  input.form-control {
    font-size: 0.9rem;
  }
}
