<div class="min-vh-100 container">
  <h1>Panel Fonoaudiología</h1>
  <div class="cards">
    <div class="card" (click)="newPaciente()">
      <i class="fas fa-user-plus nuevo"></i>
      <span>Nuevo Paciente</span>
    </div>
    <div class="card" onclick="alert('Paciente citado')">
      <i class="fas fa-notes-medical seguimiento"></i>
      <span>Plan de Tratamiento</span>
    </div>
    <div class="card" onclick="alert('Seguimiento')">
      <i class="fas fa-notes-medical seguimiento"></i>
      <span>Seguimiento</span>
    </div>
    <div class="card" onclick="alert('Reporte Final')">
      <i class="fas fa-file-alt reporte"></i>
      <span>Reporte Final</span>
    </div>
    <div class="card" onclick="alert('Paciente citado')">
      <i class="fas fa-notes-medical seguimiento"></i>
      <span>Citar Paciente</span>
    </div>
    <div class="card" onclick="alert('Salir de App')">
      <i class="fas fa-sign-out-alt salir"></i>
      <span>Salir de App</span>
    </div>
  </div>
</div>
